*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
**/build/
__pycache__/
*.pyc

termux-src/
*.apk
/antigravity

# Nova IDE dependencies and build artifacts
nova-src/node_modules/
nova-src/platforms/
nova-src/plugins/
nova-src/.gradle/
nova-src/www/build/
nova-src/build/

